*.o
.deps
.dirstamp
*.la
*.lo
*.Po

Makefile
Makefile.in

config.status
config.log
config.h.in
config.h

missing
install-sh
autom4te.cache

configure
depcomp
src/Makefile
src/Makefile.in
stamp-h1

aclocal.m4
src/salthttpd